.nimbus__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
  padding-bottom: 3.75rem;
}

.nimbus__fotos {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  align-content: start;
}

.nimbus__fotos div {
  flex: 1;
  min-width: 200px;
  border-radius: 5px;
}

.nimbus__fotos div:first-child {
  min-width: 100%;
}

.nimbus__infos {
  display: grid;
  gap: 2rem;
  align-content: start;
}

.nimbus__comprar {
  display: grid;
  grid-template-columns: max-content max-content;
  place-items: start;
  gap: 0.75rem;
}

.nimbus__comprar .btn {
  place-self: initial;
}

.nimbus__comprar > div {
  display: grid;
  gap: 0.5rem;
}

.nimbus__comprar > div > span {
  display: flex;
  gap: 0.5rem;
  padding: 0.25rem 0.5rem;
  background-color: var(--c12);
  border-radius: 5px;
  place-self: start;
}

.nimbus__vantagens {
  display: grid;
  gap: 0.75rem;
}

.vantagens__lista,
.ficha-tecnica__lista {
  display: grid;
  background-color: var(--c12);
  padding: 2rem;
  border-radius: 5px;
}

.vantagens__lista {
  grid-template-columns: 1fr 1fr;
}

.vantagens__lista > li > img {
  width: 1.5rem;
  height: 1.5rem;
}

.ficha-tecnica > h2 {
  margin-bottom: 0.75rem;
}

.ficha-tecnica__lista > div {
  display: flex;
  justify-content: space-between;
  padding: 0.375rem 0;
}

.ficha-tecnica__lista > div:not(:first-child) {
  border-top: 1px solid var(--c11);
}

/* ================================= Media Queries */
@media (max-width: 1000px) {
  .vantagens__lista {
    padding: 1rem;
    gap: 1.25rem;
  }

  #nimbus .vantagens__lista h3 {
    font-size: 1rem;
  }

  .ficha-tecnica__lista {
    padding: 1rem;
  }
}

@media (max-width: 800px) {
  .nimbus__container {
    gap: 1.25rem;
  }

  .nimbus__fotos {
    gap: 1rem;
  }

  .nimbus__comprar {
    grid-template-columns: max-content;
  }

  .vantagens__lista {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .nimbus__container {
    grid-template-columns: 1fr;
  }

  .nimbus__fotos {
    grid-row: 2;
  }
}
