.nimbus__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
}

.nimbus__fotos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.25rem;
  height: 4auto;
}

.nimbus__fotos div {
  border-radius: 5px;
}

.nimbus__fotos div:first-child {
  grid-column: 1/-1;
}

.nimbus__infos {
  display: grid;
  gap: 2rem;
}

.nimbus__comprar {
  display: grid;
  grid-template-columns: max-content max-content;
  place-items: start;
  gap: 0.75rem;
}

.nimbus__comprar .btn {
  place-self: initial;
}

.nimbus__comprar > div {
  display: grid;
  gap: 0.5rem;
}

.nimbus__comprar > div > span {
  display: flex;
  gap: 0.5rem;
  padding: 0.25rem 0.5rem;
  background-color: var(--c12);
  border-radius: 5px;
  place-self: start;
}

.vantagens__lista {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--c12);
  padding: 2rem;
}
