.contato-bg {
  box-shadow: inset 0 -16.25rem 0 0 var(--c1);
}

.contato__container {
  display: grid;
  grid-template-columns: 5fr 7fr;
}

.contato__listas {
  border-radius: 5px 0 0 5px;
}

.contato__listas,
.contato__form {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  padding: 3.75rem;
  display: grid;
  position: relative;
  align-content: start;
}

.contato__listas::before,
.contato__form::before {
  content: "";
  display: inline-block;
  width: 3.25rem;
  height: 3.25rem;
  background-image: url("../../img/grafismos/grafismo-bottom-right.svg");
  position: absolute;
  right: 2.5rem;
  bottom: 2.5rem;
}

.contato__listas h3 {
  margin-bottom: 3.75rem;
}

.contato__endereco,
.contato__emails {
  font-weight: 400;
  line-height: 2;
  margin-bottom: 3.75rem;
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  align-content: start;
  justify-items: start;
  gap: 0 0.5rem;
}

/* ======================================= espaçamento nos contatos, deletar  */
.contato__endereco,
.contato__emails,
.contato__emails a:nth-child(3) {
  margin-bottom: 2rem;
}

.contato__endereco p,
.contato__emails a {
  grid-column: 2;
}

.contato__endereco img {
  grid-column: 1;
  width: 1.25rem;
  height: 1.25rem;
}

.contato__redes {
  display: flex;
  gap: 2rem;
}

/* ======================================== Formulário */
.contato__form {
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: start;
  align-content: start;
  border-radius: 0 5px 5px 0;
}

.contato__form div {
  display: grid;
  gap: 0.25rem;
}
.contato__form input,
.contato__form textarea {
  width: 100%;
  background-color: var(--c1);
  border-radius: 5px;
  border: 1px solid var(--c2);
  padding: 0.75rem;
  resize: none;
}

.contato__form input::placeholder,
.contato__form textarea::placeholder {
  font: var(--font-2-s);
  color: var(--c7);
}

.contato__form div:nth-child(n + 3) {
  grid-column: 1/-1;
}

.contato__form button {
  justify-self: start;
  max-width: max-content;
  grid-column: 1/-1;
}

/* ============================================ Media Queries */
@media (max-width: 800px) {
  .contato__listas,
  .contato__form {
    padding: 2rem;
  }

  .contato__form {
    grid-template-columns: 1fr;
  }

  .contato__form::before {
    display: none;
  }

  .contato__form button {
    justify-self: stretch;
    max-width: 100%;
    font-size: 0.875rem;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 600px) {
  .contato__container {
    grid-template-columns: 1fr;
  }

  .contato__listas {
    border-radius: 0 0 5px 5px;
  }

  .contato__form {
    border-radius: 5px 5px 0 0;
    grid-row: 1;
  }
}

@media (max-width: 400px) {
  .contato__listas h3,
  .contato__endereco {
    margin-bottom: 2rem;
  }

  .contato__endereco p:nth-child(4),
  .contato__endereco p:nth-child(7) {
    margin-bottom: 1rem;
  }

  .contato__endereco p {
    font-size: 0.875rem;
  }

  .contato__redes {
    gap: 1rem;
  }

  .contato__redes img {
    width: 1.5rem;
    height: 1.5rem;
  }

  .contato__listas::before {
    display: none;
  }

  .contato__form textarea {
    height: 7rem;
  }
}

/* ================================ Hover */
@media (hover: hover) {
  .contato__emails a:hover {
    color: var(--c0);
  }
}
