.localizacao__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.75rem 2.5rem;
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
  align-content: start;
}

.localizacao__container h2 {
  grid-column: 1/-1;
}

.localizacao__card div {
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}

.localizacao__card img {
  border-radius: 5px 5px 0 0;
  transition: 0.3s ease-in-out;
}

.localizacao__card h3 {
  transition: 0.3s ease-in-out;
}

.localizacao__card-info {
  background-color: var(--c0);
  padding: 2rem;
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 1rem 0.5rem;
  align-content: start;
  align-items: center;
  justify-content: start;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.localizacao__card-info h3,
.localizacao__card-info span {
  grid-column: 2/-1;
}

.localizacao__card-info::before {
  content: "";
  display: inline-block;
  grid-column: 1;
  width: 0.75rem;
  height: 0.5rem;
  background-color: var(--p2);
  transition: 0.3s ease-in-out;
  transform-origin: left;
}

.localizacao__card-info ul {
  padding: 0.75rem;
  border-left: 2px solid var(--c2);
}

.localizacao__card-listas {
  grid-column: 2;
  display: flex;
  width: 80%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.localizacao__card-listas ul {
  display: grid;
  gap: 0.5rem;
  min-width: 8.75rem;
}

/* ================================= Media Queries */

@media (max-width: 1000px) {
  .localizacao__container {
    gap: 2rem 1.25rem;
  }

  .localizacao__card-info {
    padding: 1rem;
  }

  .localizacao__card-listas {
    gap: 1.5rem;
    width: 100%;
  }
}

@media (max-width: 800px) {
  .localizacao__container {
    grid-template-columns: 1fr;
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }

  .localizacao__card-info {
    padding: 2rem;
  }

  .localizacao__card-listas {
    width: 70%;
  }
}

/* ======================================== Hover */

@media (hover: hover) {
  .localizacao__card:hover img {
    scale: 1.05;
  }

  .localizacao__card:hover .localizacao__card-info::before {
    scale: 2 1;
  }

  .localizacao__card:hover h3 {
    translate: 0.75rem;
  }
}
