.footer__bg {
  padding-top: 3.75rem;
  padding-bottom: 2rem;
}

.footer__container {
  display: grid;
  grid-template-columns: 3fr 5fr 4fr;
  gap: 2.5rem;
}

.footer__container > a {
  place-self: start;
}

.footer__container h3 {
  margin-bottom: 2rem;
}

.footer__lista {
  display: grid;
  gap: 1rem;
  margin-bottom: 1rem;
}

.footer__lista.contato :nth-child(2n)::after {
  content: "";
  display: block;
  max-width: 16.25rem;
  height: 2px;
  background-color: var(--c11);
  margin-top: 1rem;
}

.footer__lista.redes {
  display: flex;
  gap: 2.5rem;
  margin-bottom: 4rem;
}

.footer__copyright {
  display: block;
}

@media (hover: hover) {
  .footer__lista li a:hover {
    color: var(--c3);
  }
}

@media (max-width: 1200px) {
  .footer__container h3 {
    margin-bottom: 1.25rem;
  }

  .footer__lista {
    gap: 0.5rem;
    max-width: initial;
  }

  .footer__lista li {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .footer__bg {
    padding-left: 40px;
    padding-right: 40px;
  }

  .footer__container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .footer_container > img {
    margin-bottom: 100px;
  }

  .footer__lista.redes {
    margin-bottom: 0;
    gap: 1.25rem;
  }

  .footer__lista.redes img {
    transform: scale(0.8);
  }

  .footer__bg .footer__copyright {
    margin-top: 2rem;
  }
}

@media (max-width: 400px) {
  .footer__bg .footer__copyright {
    font-size: 14px;
  }
}
