*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
blockquote {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  color: var(--c0);
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  display: block;
  max-width: 100%;
}
input,
button {
  font: inherit;
}
html {
  scroll-behavior: smooth;
}

button {
  border: none;
}

img[src$=".jpg"] {
  border-radius: 5px;
}
