.bicicletas {
  padding-top: 7.5rem;
  padding-bottom: 12.5rem;
}

.bicicletas__titulo {
  margin-bottom: 2.5rem;
}

.bicicletas__lista {
  display: flex;
  gap: 2.5rem;
  padding: 0 1.25rem;
  padding-bottom: 1.25rem;
  max-width: 1500px;
  margin: 0 auto;
  overflow-x: auto;
}

.bicicletas__card {
  flex: 1;
  min-width: 17.5rem;
}

.bicicletas__card-link {
  display: grid;
  gap: 1rem;
}

.bicicletas__info::before {
  content: "";
  width: 0.75rem;
  height: 0.5rem;
  background-color: var(--p2);
  transform-origin: left;
  transition: 0.3s ease-out;
}

.bicicletas__info {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  gap: 0.5rem 0.625rem;
  overflow: hidden;
}

.bicicletas__img-wrapper {
  overflow: hidden;
  border-radius: 5px;
}

.bicicletas__img-wrapper > img {
  transition: 0.3s ease-in-out;
}

.bicicletas__info > h3 {
  grid-column: 2;
  transition: 0.3s ease-out;
}

.bicicletas__info > span {
  grid-column: 2;
}

@media (hover: hover) {
  .bicicletas__card-link:hover .bicicletas__info::before {
    transform: scaleX(2);
  }

  .bicicletas__card-link:hover .bicicletas__info > h3 {
    transform: translateX(0.75rem);
  }

  .bicicletas__card-link:hover .bicicletas__img-wrapper > img {
    transform: scale(1.05);
  }
}

@media (max-width: 75rem) {
  .bicicletas {
    padding: 5rem 0;
  }

  .bicicletas__lista {
    gap: 1.25rem;
  }
}

@media (max-width: 800px) {
  .bicicletas {
    padding: 3.75rem 0;
  }

  .bicicletas__titulo {
    max-width: 75rem;
    padding: 0 1.25rem;
    margin: 0 auto;
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 370px) {
  .bicicletas__card {
    flex: 1;
    min-width: 15.625rem;
  }
}
