.main__bg {
  background-color: var(--c12);
  color: var(--w);
}

.main__container {
  display: grid;
  grid-template-columns: 6fr 6fr;
  gap: 0rem 2.5rem;
  max-width: 75rem;
  margin: 0 auto;
  align-items: end;
  padding: 0 1.25rem;
  height: 70vh;
  max-height: 700px;
}

.main__titulo {
  font: var(--font-1-xxl);
  margin-bottom: 2rem;
}

.main__titulo > span {
  color: var(--p1);
}

.main__wrapper > p {
  font: var(--font-2-l);
  margin-bottom: 1.5rem;
  color: var(--c5);
}

.main__wrapper > .btn {
  margin-bottom: 5rem;
}

.main__img {
  position: relative;
  height: 100%;
}

.main__img > img {
  position: absolute;
  border-radius: 0.3125rem;
  height: calc(100% + 5rem);
  width: calc(100% + 9.375rem);
  max-width: none;
  object-fit: cover;
  object-position: right center;
  transition: all 0.2s ease-out;
}

@media (hover: hover) {
  .main__img > img:hover {
    transform: scale(1.01);
  }
}

@media (max-width: 75rem) {
  .main__container {
    grid-template-columns: 1fr;
    gap: 32px;
    height: auto;
    box-shadow: inset 0 -60px 0 0 var(--w);
    padding-top: 2rem;
  }

  .main__titulo {
    font-size: 3rem;
    margin-bottom: 16px;
  }

  .main__wrapper > p {
    font-size: 1.125rem;
  }

  .main__img {
    height: auto;
  }

  .main__img > img {
    position: static;
    width: 100%;
    height: 18.75rem;
  }
}
