.perguntas {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.perguntas h2 {
  margin-bottom: 5rem;
  display: flex;
  align-items: center;
}

.perguntas h2::after {
  content: "";
  width: 3.25rem;
  height: 3.25rem;
  background-image: url(../../img/grafismos/grafismo-top-right.svg);
  opacity: 0.2;
  margin-left: auto;
}

.perguntas__lista {
  contain: layout;
}

.perguntas__lista > div:nth-child(odd) {
  background-color: var(--c1);
  border-radius: 5px;
}

.perguntas__lista > div {
  padding: 1.25rem 2.5rem;
  cursor: pointer;
  display: grid;
  align-items: center;
}

.perguntas__lista > div button {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr max-content;
  justify-items: start;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.perguntas__lista > div button:focus-visible {
  outline: none;
}

.perguntas__lista > div:has(button:focus-visible) {
  outline: 2px solid black;
  outline-offset: 2px;
  border-radius: 5px;
}

.perguntas__lista > div > dt {
  display: flex;
  align-items: center;
  position: relative;
  transition: 0.3s ease-in-out;
  justify-content: space-between;
}

.perguntas__lista > div > dt span {
  text-align: start;
}

.perguntas__lista span {
  transition: 0.3s ease-in-out;
}

.perguntas__lista > div > dt::before {
  content: "";
  display: inline-block;
  width: 0.75rem;
  height: 0.5rem;
  left: -1.25rem;
  position: absolute;
  background-color: var(--p2);
  transition: 0.3s ease-in-out;
  transform-origin: left;
}

.perguntas__lista img {
  transition: 0.2s ease-in-out;
}

.perguntas__lista img.gira-seta {
  transform: rotate(180deg);
}

.perguntas__lista div > dd {
  display: grid;
  margin-top: 0;
  grid-row: 2;
  grid-template-rows: 0fr;
  transition:
    grid-template-rows 0.3s ease-in-out,
    margin-top 0.3s ease-in-out;
  overflow: hidden;
}

.perguntas__lista div > dd > * {
  min-height: 0;
}

.perguntas__lista div > dd.resposta-ativa {
  margin-top: 1rem;
  grid-template-rows: 1fr;
}

@media (hover: hover) {
  .perguntas__lista div:hover dt::before {
    transform: scaleX(2);
  }

  .perguntas__lista div:hover span {
    transform: translateX(0.75rem);
  }
}
/* =============================== Media Queries */
@media (max-width: 1000px) {
  .perguntas {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .perguntas h2 {
    margin-bottom: 2.5rem;
  }
}

@media (max-width: 800px) {
  .perguntas h2 {
    margin-bottom: 2rem;
  }
  .perguntas h2::after {
    transform: scale(0.8);
  }

  .perguntas__lista > div > dt {
    margin-bottom: 0.5rem;
  }

  .perguntas__lista div > dd {
    font-size: 0.875rem;
  }
}
@media (max-width: 600px) {
  .perguntas h2 {
    display: inline-block;
  }

  .perguntas h2::after {
    display: none;
  }
}

@media (max-width: 400px) {
  .perguntas {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .perguntas h2 {
    margin-bottom: 1rem;
  }

  .perguntas__lista div > dt {
    font-size: 1rem;
  }
}
