.perguntas {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.perguntas h2 {
  margin-bottom: 5rem;
  display: flex;
  align-items: center;
}

.perguntas h2::after {
  content: "";
  width: 3.25rem;
  height: 3.25rem;
  background-image: url(../../img/grafismos/grafismo-top-right.svg);
  opacity: 0.2;
  margin-left: auto;
}

.perguntas__lista > div:nth-child(odd) {
  background-color: var(--c1);
  border-radius: 5px;
}

.perguntas__lista > div {
  padding: 1.25rem 2.5rem;
  cursor: pointer;
}

.perguntas__lista > div > dt {
  /* display: flex; */
  display: grid;
  grid-template-columns: 1fr max-content;
  gap: 1rem;
  align-items: center;
  position: relative;
  transition: 0.3s ease-in-out;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.perguntas__lista > div > dt::before {
  content: "";
  display: inline-block;
  width: 0.75rem;
  height: 0.5rem;
  left: -1.25rem;
  position: absolute;
  background-color: var(--p2);
  transition: 0.3s ease-in-out;
  transform-origin: right;
}

.perguntas__lista > div > dt::after {
  content: "";
  display: inline-block;
  width: 0.8125rem;
  height: 0.3125rem;
  background-image: url(../../img/icones/seta.svg);
  justify-self: end;
  transition: 0.3s ease-in-out;
}

/* =============================== Media Queries */
@media (max-width: 1000px) {
  .perguntas {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .perguntas h2 {
    margin-bottom: 2.5rem;
  }
}

@media (max-width: 800px) {
  .perguntas h2 {
    margin-bottom: 2rem;
  }
  .perguntas h2::after {
    transform: scale(0.8);
  }

  .perguntas__lista > div > dt {
    margin-bottom: 0.5rem;
  }

  .perguntas__lista div > dd {
    font-size: 0.875rem;
  }
}
@media (max-width: 600px) {
  .perguntas h2 {
    display: inline-block;
  }

  .perguntas h2::after {
    display: none;
  }
}

@media (max-width: 400px) {
  .perguntas {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .perguntas h2 {
    margin-bottom: 1rem;
  }

  .perguntas__lista div > dt {
    font-size: 1rem;
  }
}

@media (hover: hover) {
  .perguntas__lista div:hover dt::before {
    transform: scaleX(2);
  }

  .perguntas__lista div:hover dt {
    transform: translateX(0.75rem);
  }

  .perguntas__lista div:hover dt::after {
    transform: translateX(-0.75rem) rotate(180deg);
  }
}
