#seguros .seguros {
  padding-top: 3.75rem;
}

.vantagens {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.vantagens h2 {
  margin-bottom: 3.75rem;
}

.vantagens__lista {
  display: grid;
  gap: 2.5rem;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.vantagens__lista > li {
  display: grid;
  gap: 0.5rem;
}

.vantagens__lista img {
  width: 2rem;
  height: auto;
}

.vantagens__lista-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.perguntas {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.perguntas h2 {
  margin-bottom: 5rem;
}

.perguntas__lista > li:nth-child(odd) {
  background-color: var(--c1);
  border-radius: 5px;
}

.perguntas__lista > li {
  padding: 1.25rem 2.5rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr max-content;
}

.perguntas__lista > li > img {
  place-self: center;
}

.perguntas__lista > li > p {
  grid-column: 1/-1;
}

.perguntas__lista > li > h3 {
  display: flex;
  align-items: center;
  position: relative;
  transition: 0.3s ease-out;
}

.perguntas__lista > li > h3::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: -1.25rem;
  width: 0.75rem;
  height: 0.5rem;
  background-color: var(--p2);
  transition: 0.3s ease-out;
  transform-origin: right;
}

/* =============================== Media Queries */
@media (max-width: 1000px) {
  #seguros .seguros {
    padding-top: 1rem;
  }
}

@media (max-width: 800px) {
  #seguros .seguros {
    padding-top: 0;
  }

  .vantagens {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .vantagens h2 {
    margin-bottom: 2rem;
  }

  .vantagens__lista-item {
    flex-direction: initial;
    align-items: center;
  }

  .vantagens__lista-item > img {
    width: 1.5rem;
  }

  .perguntas {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .perguntas h2 {
    margin-bottom: 2rem;
  }

  .perguntas__lista li {
    gap: 0.5rem;
  }

  .perguntas__lista li > p {
    font-size: 0.875rem;
  }
}

@media (max-width: 400px) {
  .vantagens__lista {
    grid-template-columns: initial;
    gap: 1.5rem;
  }

  .vantagens__lista li > p {
    font-size: 0.875rem;
  }

  .perguntas {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .perguntas h2 {
    margin-bottom: 1rem;
  }

  .perguntas__lista li > h3 {
    font-size: 1rem;
  }
}

@media (hover: hover) {
  .perguntas__lista li:hover h3::before {
    transform: scaleX(2);
  }

  .perguntas__lista li:hover h3 {
    transform: translateX(.75rem);
}
