#orcamento {
  background: linear-gradient(var(--c11) 600px, var(--c1) 0);
}

.orcamento {
  display: grid;
  grid-template-columns: 5fr 7fr;
  padding-bottom: 120px;
}

.orcamento h2 {
  position: relative;
  display: flex;
  align-items: center;
}

.orcamento h2::before {
  content: "";
  display: inline-block;
  width: 0.25rem;
  height: 0.5rem;
  background-color: var(--p2);
  position: absolute;
  left: -12px;
}

.orcamento__produto,
.orcamento__dados {
  padding: 60px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  position: relative;
}

/* ====================================== Seleção de Produto */
.orcamento__produto {
  border-radius: 5px 0 0 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: start;
  gap: 20px;
}

.orcamento__produto > * {
  grid-column: 1/-1;
}

.orcamento__produto > label {
  grid-column: initial;
}

.orcamento__produto label {
  font:
    400 1rem/1.5 "Poppins",
    sans-serif;
  color: var(--c4);
  background-color: var(--c10);
  padding: 0.75rem 1rem;
  border-radius: 5px;
  grid-column: initial;
  cursor: pointer;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0);
}

.orcamento__produto input:checked + label {
  background-color: var(--c0);
  color: var(--c11);
}

.orcamento__produto label::before {
  content: "";
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  border: 1px solid var(--c6);
  border-radius: 50%;
  margin-right: 0.75rem;
}

.orcamento__produto input:checked + label::before {
  border-color: var(--c7);
  box-shadow:
    inset 0 0 0 3px var(--c0),
    inset 0 0 0 5px var(--c7);
}

.orcamento__produto label:hover {
  background-color: var(--c9);
}

.orcamento__produto input:focus + label {
  box-shadow: 0 0 0 2px var(--p1);
  border-color: var(--c12);
}

.orcamento__produto label span {
  display: none;
}

.orcamento__produto input:checked + label span {
  display: initial;
}

.orcamento__produto input {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

/* ============================================ Detalhes do Produto */
.orcamento__detalhes {
  display: none;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  background-color: var(--c0);
  padding: 20px;
  border-radius: 5px;
  align-items: center;
}

.orcamento__detalhes ul {
  display: grid;
  gap: 0.5rem;
}

.orcamento__detalhes li {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.orcamento__detalhes li img {
  width: 1rem;
  height: 1rem;
}

.orcamento__produto input:checked + label + .orcamento__detalhes {
  display: grid;
}

/* ================================================== Informações de Entrega */
.orcamento__dados {
  background-color: var(--c0);
}

.orcamento-conteudo {
  display: none;
}

.orcamento-conteudo h2,
.orcamento__dados h2:nth-of-type(n + 2) {
  margin-top: 1.25rem;
}

#bikcraft:checked ~ #orcamento-bikcraft,
#seguro:checked ~ #orcamento-seguro {
  display: grid;
  gap: 1.25rem;
}

.orcamento__termos {
  display: flex;
  margin-bottom: 2.5rem;
}

.orcamento__termos label {
  cursor: pointer;
}

.orcamento__termos input {
  margin-right: 0.5rem;
}

.orcamento__termos a {
  text-decoration: underline;
}

/* ======================================= Grafismos */
.orcamento__dados::after,
.orcamento__produto::after {
  content: "";
  height: 3.25rem;
  width: 3.25rem;
  background-image: url(../../img/grafismos/grafismo-bottom-right.svg);
  position: absolute;
  bottom: 2.5rem;
  right: 2.5rem;
}

/* ==================================== Media Queries */

@media (max-width: 1200px) {
  .orcamento__produto,
  .orcamento__dados {
    padding: 2rem;
  }
}

@media (max-width: 800px) {
  .orcamento {
    grid-template-columns: 1fr;
  }

  .orcamento__produto {
    border-radius: 5px 5px 0 0;
  }

  .orcamento__dados::after,
  .orcamento__produto::after {
    display: none;
  }
}

@media (max-width: 600px) {
  #orcamento .form {
    grid-row: initial;
  }
}

@media (max-width: 400px) {
  .orcamento__detalhes {
    grid-template-columns: 1fr;
  }

  .orcamento__produto {
    grid-template-columns: 1fr;
  }
}
